# Copyright (c) 2017-2023, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on init
    start vendor.boot-qti
    setprop prepdecrypt.setpatch true
    start vendor.ssgtzd

on early-fs
    write /proc/sys/walt/sched_lib_name "recovery,magiskboot,Updater,updater,update_engine_sideload"
    write /proc/sys/walt/sched_lib_mask_force 255

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    mkdir /mnt/vendor 0775 shell system
    mkdir /mnt/vendor/persist 0775 shell system
    mkdir /tmp/persist 0775 shell system
    mount none /tmp/persist /mnt/vendor/persist bind rec

on boot
    setprop sys.usb.config adb

on property:twrp.modules.loaded=true
    # Mount firmware
    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro
    # Load ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/ssr
    write /sys/kernel/boot_adsp/ssr 1
    wait /sys/class/power_supply/battery
    start vendor.health-default
    # Set permissions for touchscreen devices
    chown system system /dev/thp
    chmod 666 /dev/thp
    chown system system /dev/input_agent
    chmod 666 /dev/input_agent
    umount /vendor
    symlink /firmware /vendor/firmware_mnt

service ztethp /vendor/bin/odm_tsc
    class core
    user system
    group system root
    capabilities SYS_NICE
    seclabel u:r:recovery:s0
    disabled

on property:ro.crypto.state=encrypted && property:ro.boot.dynamic_partitions=true
    start odm.prepdecrypt

on property:twrp.variant.files_copied=1
    start odm.vibratorfeature-service
    start odm.touch_report
    start odm.weaver-service
    start odm.keymint-strongbox
    start odm.se_omapi

on property:servicemanager.ready=true
    setprop sys.boot_completed 1
on post-fs-data
    start vendor.qti.vibrator

service vendor.qti.vibrator /vendor/bin/hw/vendor.qti.hardware.vibrator.service
    class hal
    user system
    group system input
    setenv RICHTAP_DEVICE_PATH /dev/awinic_haptic
    setenv ENV_RICHTAP_CONFIG_PATH /odm/etc/aac_richtap.config
    seclabel u:r:recovery:s0

on post-fs
    write /sys/kernel/fan/fan_enable 1
    write /sys/kernel/fan/fan_speed_level 1
    write /sys/class/leds/aw22xxx_led/trigger battery-charging-or-full
